<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .cursor-pointer {
            cursor: pointer;
        }
    </style>
    <link rel="stylesheet" href="style.css"><title>16's Coder Blog List</title>
</head>
<body>
    <!-- Header -->
<header class="text-center py-5 mb-4 bg-warning">
    <div class="container">
      <h1 class="font-weight-light text-white"><b>Meet 16_Corder_Team</h1></b>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row d-flex flex-row justify-content-center">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4 cursor-pointer" onclick="window.location.href='JHL'">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">LEE, JOOHO</h5>
            <div class="card-text text-black-50">COMPUTER 16</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4 cursor-pointer" onclick="window.location.href='SSJ'">
        <div class="card border-0 shadow">
          <img src="https://source.unsplash.com/9UVmlIb0wJU/500x350" class="card-img-top" alt="..." >
          <div class="card-body text-center">
            <h5 class="card-title mb-0">SONG, SOOJEONG</h5>
            <div class="card-text text-black-50">ICT 16</div>
          </div>
        </div>
      </div>
   
  </div>
  <!-- /.container -->
</body>
</html>